.child{
  width: 30%;
  border:1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  text-align: center;
  height: 50%;
}
.parent{
  display: flex;
  justify-content: center;
}

.child img{
  width: 30%;
}
.link{
  text-decoration: none;
}
.btn{
  background: #333ea8;
  color: #fff;
  padding: 1%;
  display: block;
}
.child2{
  width: 75%;
  border:1px solid #ddd;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  
}
.skills{
  margin: .5%;
  padding: .5%;
  color: #fff;
  border-radius:10px;
  background-color: blue;
  border: 1px solid #333b8a;
  box-shadow: 0px 8px 8px -8px #000;

}
